header{
    padding:0px;
    margin:0px;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.separa-menu-base{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.logo_menu-base{
    margin-left: 10rem;
    width: 20%;
    height: 20%;
}


#menu-header-base{
    padding-top: 1.3%;
}

header  ul li { 
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

header  ul li {
    padding: 2px 40px;
}

header  ul li a {
    display: inline-block;
    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;

}

header ul li a:hover {
    color: #b79260;
    border-bottom: 0px #b79260 solid;
    transition-duration: 0.5s;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
} 