<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <h1>Bem vindo ao TraDinDin</h1>
    <p>Esta é a pagina inicial</p>
    <p>Mude as rotas na URL para a pagina q vc quer</p>
    <p>Exemplo: "localhost:3000/home"</p>
  </body>
</html>
