<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>TraDinDin - Dinheiro onde você precisar!</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="pt-br" />
    <link href="stylesheets/indexGeral.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="images/din.ico.png" />
  </head>

  <body>
    <!-- MENU -->
    <header>
      <div class="separa-menu">
        <img class="logo_menu" src="images/logo_trad1.png" alt="TraDinDin" />

        <nav id="menu-header">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- BANNER -->
    <main class="banner_principal">
      <img
        class="banner_principal_imagem"
        src="images/banner_principal3.png"
        alt="Imagem – Pessoa usando o computador"
      />
      <h1>
        A melhor forma de trocar
        <p><span class="rosa"> seu dinheiro</span> esta aqui</p>
      </h1>
      <h2>Plataforma ideal para quem quer comprar ou vender dinheiro.</h2>

      <!-- FORMULÁRIO DE PESQUISA -->
      <div class="pesquisa">
        <div class="pesquisa_moldura">
          <div class="elementos0">
            <div class="elementos1">
              <div>
                <span>FAÇA UMA BUSCA AGORA MESMO!</span>
              </div>
              <div class="radio_elemento_1">
                <input
                  type="radio"
                  name="acao"
                  id="comprar"
                  value="comprar"
                  checked
                />
                <label for="comprar">COMPRAR</label>
                <input type="radio" name="acao" id="vender" value="vender" />
                <label for="vender">VENDER</label>
              </div>
            </div>

            <div class="elementos2">
              <div class="local_partida">
                <img src="images/local.svg" alt="Local" />
                <p>
                  <span>LOCAL DE RETIRADA</span>
                  <textarea>
Insira o local que pretende retirar o dinheiro.</textarea
                  >
                </p>
              </div>

              <div class="local_data">
                <img src="images/calendario.png" alt="Calendário" />
                <p>
                  <span>DATA</span>
                  <textarea>
Insira a data que pretende retirar o dinheiro.</textarea
                  >
                </p>
              </div>

              <div class="local_moeda">
                <p>MOEDA</p>
                <select name="moeda" id="moeda">
                  <option value="SELECIONAR">SELECIONAR</option>
                  <option value="saab">Real</option>
                  <option value="opel">Euro</option>
                  <option value="audi">Dólar Americano</option>
                  <option value="audi">Peso Argentino</option>
                </select>
              </div>

              <div class="local_buscar">
                <button type="submit" onclick="window.location.href='/page2'">
                  BUSCAR
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="linha_divisao">
      <img src="images/graph.png" alt="Linha divisória" />
    </div>
    <!-- DIVISÃO -->
    <div class="container-divisao">
      <h3>
        Construído para pessoas que precisam vender aquele dinheiro que sobrou
        de uma viagem, ou para quem precisa fazer a melhor cotação e encontrar
        uma casa de câmbio.
      </h3>

      <p class="chamada1">Chamada Para Usuários</p>

      <div class="diferenciais">
        <div class="dife_01">
          <img class="icone_dif" src="images/icone_01.png" alt="Ícone" />
          <p>Comprar dinheiro</p>
          <span
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.</span
          >
        </div>
        <div class="dife_01">
          <img class="icone_dif" src="images/icone_02.png" alt="Ícone" />
          <p>Comprar dinheiro</p>
          <span
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.</span
          >
        </div>
        <div class="dife_01">
          <img class="icone_dif" src="images/icone_03.png" alt="Ícone" />
          <p>Comprar dinheiro</p>
          <span
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.</span
          >
        </div>
      </div>
      <br /><br />
    </div>

    <!--Main-Gabriel-->
    <main>
      <div class="sobre-nos">
        <div class="celular">
          <img src="images/celular.png" alt="celular-descritivo" />
        </div>
        <div class="sobre-nos-texto">
          <h3>Sobre nós</h3>
          <h1>Uma chamada descritiva para Plataforma de Cryptocoins</h1>
          <p>
            Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius.
            Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Leite
            de capivaris, leite de mula manquis sem cabeça. Copo furadis é
            disculpa de bebadis, arcu quam euismod magna. In elementis mé pra
            quem é amistosis quis leo.
          </p>
          <p>
            Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam
            vulputate dapibus. Casamentiss faiz malandris se pirulitá. Manduma
            pindureta quium dia nois paga. Sapien in monti palavris qui num
            significa nadis i pareci latim.
          </p>

          <a class="botao-action" href="#"> Call to Action</a>
        </div>
      </div>
      <div class="solucoes">
        <h2>Empresas que usam nossa solução</h2>
        <div class="logo-empresas">
          <img src="images/logo-dh.png" alt="logo-dh" />
          <img src="images/logo-dh.png" alt="logo-dh" />
          <img src="images/logo-dh.png" alt="logo-dh" />
          <img src="images/logo-dh.png" alt="logo-dh" />
          <img src="images/logo-dh.png" alt="logo-dh" />
        </div>
      </div>

      <div class="perguntas-frequentes">
        <h1>Perguntas frequentes</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="perguntas-box">
        <div class="perguntas">
          <h2>How Does a Hello World?</h2>
          <p>
            Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
            pose. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis,
            aguis e fermentis. Sapien in monti palavris qui num significa nadis
            i pareci latim. Diuretics paradis num copo é motivis de denguis.
          </p>
        </div>
        <div class="perguntas">
          <h2>How Does a Hello World?</h2>
          <p>
            Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
            pose. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis,
            aguis e fermentis. Sapien in monti palavris qui num significa nadis
            i pareci latim. Diuretics paradis num copo é motivis de denguis.
          </p>
        </div>
        <div class="perguntas">
          <h2>How Does a Hello World?</h2>
          <p>
            Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
            pose. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis,
            aguis e fermentis. Sapien in monti palavris qui num significa nadis
            i pareci latim. Diuretics paradis num copo é motivis de denguis.
          </p>
        </div>
        <div class="perguntas">
          <h2>How Does a Hello World?</h2>
          <p>
            Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo
            pose. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis,
            aguis e fermentis. Sapien in monti palavris qui num significa nadis
            i pareci latim. Diuretics paradis num copo é motivis de denguis.
          </p>
        </div>
      </div>
    </main>
    <!--Footer-Thiago-->
    <footer class="container-footer">
      <!-- CAIXA FOTO DE PERFÍL -->

      <!-- CAIXA DA ESQUERDA -->

      <div class="item config">
        <div class="logo config">
          <figure>
            <img
              class="logo-footer"
              src="images/logo.png"
              alt="Logo da Pagina"
            />
          </figure>
        </div>
        <p class="texto-footer">
          Fullstack Node JS student mais nao sei por onde começar ainda mais hj!
          Odio ut sem nulla pharetra diam sit amet nisl suscipit.
        </p>
        <nav class="redes config">
          <ul class="linha-footer-logo">
            <li>
              <a href="#">
                <img src="images/linkedin.svg" alt="Linkedin" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/github-big-logo.svg" alt="Github" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/instagram.svg" alt="instagram" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/facebook-app-symbol.svg" alt="Facebook" />
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- CAIXA DO CENTRO -->
      <div class="item itemcentro">
        <nav class="conteudo">
          <h4>CONTACT US</h4>
          <ul>
            <li>
              <a href="mailto:grupo5@digitalhouse.com"
                >grupo5@digitalhouse.com</a
              >
            </li>
            <li>
              <a href="tel:(00) 99999-9999"> (00) 99999-9999</a>
            </li>
            <li>
              <a class="endereco-footer" href="#"
                >330 Franklin Road, São Paulo 135A, Lugar Centro, CEP
                055-65010</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <!-- CAIXA DA DIREITA -->
      <div class="item dividirmeio">
        <div class="titulo">
          <h4>LINKS IMPORTANTES</h4>
        </div>
        <div class="primeiro">
          <nav class="conteudo">
            <ul>
              <li>
                <a href="#">Link 1</a>
              </li>
              <li>
                <a href="#">Link 2</a>
              </li>
              <li>
                <a href="#">Link 3</a>
              </li>
              <li>
                <a href="#">Link 4</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="segundo">
          <nav class="conteudo">
            <ul>
              <li>
                <a href="#">AJUDA</a>
              </li>
              <li>
                <a href="#">TERMO DE USO</a>
              </li>
              <li>
                <a href="#">POLÍTICA DE PRIVACIDADE</a>
              </li>
              <li>
                <a href="#">ACEITE</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- CAIXA DE BAIXO -->
      <div class="caixa-baixo">
        <h5>
          Copyright © 2021. Todos os direitos reservados ao GRUPO 5 da Digital
          House.
        </h5>
      </div>
    </footer>
  </body>
</html>
