.container-footer {
    display: flex;
    flex-direction: row;
    color: rgb(163, 163, 159);
    flex-wrap: wrap;
    justify-content:center;
    text-decoration: none;
    background-color: #2b2e36;
}

.texto-footer{
    color: #b5b5b5;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 5% 0%;
    font-size: 110%;
}


.linha-footer-logo{
list-style: none;

}


.item{
    height: 250px;
    text-align:start;
    font-size: 1em;;
    width: calc(25.333% - 2px);
    padding-left: 5%;
}
.config img {
    margin-top: 25px;
}

.esquerdo {
    display: flex;
    flex-direction: row;
    height: auto;
}
.dividirmeio {
    display: flex;
    flex-wrap: wrap;
}
.config { 
    flex-direction: column;
    margin-top: 7px;
    align-items: flex-start;
}
.caixa-baixo h5{
    align-items: center;
    margin-block: 2%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.caixa-baixo{
    display: inline-block;
    height: 96px;
    width: 100%;
    text-align: center;
    font-size: 1em;
    border-top: 2px solid rgb(57, 60, 72);

}
.titulo {
    display: flex;
    width: 447px;
    height: 46px;
}
.item h4 { 
padding-top: 15%;
padding-bottom: 4%;
font-family: 'Roboto', sans-serif;
font-weight: 500;
color: #b5b5b5;
}

.container-footer > main{
    text-decoration: none;
    list-style: none;
    text-decoration: underline; 
	color: rgb(163, 163, 159);
}

.itemcentro nav ul li {
    padding-inline-start:-1px
}
.redes img {
    height: 20px;
}
.redes ul{
    display: flex;
    flex-direction: row;
    
}
.redes li {
    margin-inline: 5px;
}
.redes{
    margin: -25px auto;
}
.itemcentro{
    text-align: left;
}


.conteudo li {
   list-style: none;
   font-size: 100%;
   padding-bottom: 4%;
}


.conteudo li a {
    text-decoration:none;
    color: #b5b5b5;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

 }

 .endereco-footer{
     display: flex;
     flex-wrap: wrap;
     width: 70%;
 }

 .primeiro{
     display: flex;
     flex-direction: row;
     align-items:flex-start;
     padding-top: 8%;
     padding-right: 5%;
     line-height: 233%;
     align-content:center;
 }

 .segundo{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding-top: 8.5%;
    padding-right: 5%;
    line-height: 200%;
    align-content:center;
}