* {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    }

/*Header-Felipe*/

.separa-menu{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.logo_menu{
    padding: 3rem;
    margin-left: 10rem;
    width: 20%;
}

#menu-header{
    padding: 3rem;
    margin-right: 10rem;
}

header  ul li { 
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

header  ul li {
    padding: 2px 40px;
}

header  ul li a {
    display: inline-block;
    /* visual do link */
    color: rgb(255, 255, 255);
    text-decoration: none;

}

header ul li a:hover {
    color: #009d95;
    border-bottom: 1px #009d95 solid;
}

.banner_principal{
    display:flex;
    flex-direction: column;
    flex-flow: wrap column;
    align-items: center;
    align-content:center;
    justify-content:center;
    position: relative;
    background: #32363f;
    overflow: hidden;

}

.banner_principal_imagem{

    width:100%;
    animation:move 20s infinite ease-in-out;
}

@keyframes move{
0%{
transform: scale(1) rotate(0deg);
}
 50%{
  transform: scale(2) rotate(0.1deg);

 }

 100%{
   transform: scale(1)  rotate(0deg);
}

}
    

.rosa{
    color: #ff78cb;
}

.banner_principal > h1{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;   
    font-size: 50px;
    color:white;
    display: flex;
    flex-direction:column;
    align-items: center;
    position: absolute;
    margin-bottom: 15%;
}


.banner_principal > h2{
    font-family: 'Roboto', sans-serif;
    color:#b4bdff;
    display: flex;
    flex-direction:column;
    position: absolute;
    margin-top: 12%;
    margin-bottom: 15%;
}



.container-divisao{
    
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    position: relative;
    background-color: #2d333d;
    width: 100%;


}


.container-divisao > h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;   
    font-size: calc(12px + 1vw);
    color:#b4bdff;
    z-index: 4;
    text-align: center;
    width: 100%;
    padding: 4% 25% 5%;

}

.chamada1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;   
    font-size: 32px;
    color:#b4bdff;
    text-align: center;

    /* Para fazer a linha em degradê */
    --color: rgba(255,120,203,1);
    --position: center bottom;
    --width: 180px;
    --height: 2px;
    background: linear-gradient(266deg, rgba(206,39,161,1), var(--color)) var(--position) / var(--width) var(--height) no-repeat;
    padding-bottom: 10px; 
}

.diferenciais{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    padding: 5% 0% 0%;
}


.dife_01{
    display: flex;
    display: -webkit-flex; /* Garante compatibilidade com navegador Safari. */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28%;
    margin: 0% 1%;

}



@media (max-width:1800px){

    .linha_divisao > img{
        top: 60%;
    }
}



@media (max-width:1500px){
    .container-divisao > h3{
     font-size:28px;
     margin-top: 3%;
    }
    .linha_divisao > img{
        top: 55%;
    }
}



@media (max-width:1260px){
    .banner_principal > h1{
        font-size: 36px;
    }
    .banner_principal > h2{
        font-size: 20px;
    }
    .container-divisao > h3{
        margin-top: 8%;
    }
    .botao_banner{
        font-size: 22px;
        margin-bottom: 5%;
        
    }
}

.dife_01 > p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;   
    font-size: 26px;
    color:#fff;
    text-align: center;
    padding: 5% 0% 0%;
}

.dife_01 > span{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;   
    font-size: 18px;
    color:#999a9b;
    text-align: center;
    width: 80%;
    margin: 3% 0% 15%;
    line-height: 22px;
}

@media (max-width:1130px){

    .container-divisao > h3{
        font-size:24px;
        margin-top: 15%;
    }
}

@media (max-width:769px){
    .dife_01{
     width:100%;
    }

    .container-divisao > h3{
        font-size:20px;
        
       }
       .linha_divisao > img{
           top: 27%;
       }
}
        


/*Body-Gabriel*/

main{
    background: #32363f 0% 0% no-repeat padding-box;
}

.sobre-nos{
    display: flex;
    flex-direction: row;
    padding: 3% 0% 3%;
    position: relative;
    background-color: #2b2e36;
    
}
.sobre-nos-texto{
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
    padding: 4% 8% 0%;
    

    
}
.sobre-nos-texto > *{
    margin: 15px 5px;
    letter-spacing: 0px;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;  

}

.celular{

    padding-left:10%;
    width: 100%;
    position: relative;


}

.sobre-nos-texto > h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;   
    text-align: left;
    letter-spacing: 1.68px;
    color: #999BE2;

}

.sobre-nos-texto > h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: calc(24px + 1vw);
    width: 100%;
}

.sobre-nos-texto > p{
    text-align: left;
    color: #999a9b;
    width: 75%;

}

.botao-action{
    width: 220px;
    height: 50px;
    margin-top: 6%;
    font-size: 19px;   
    display: flex;    
    align-items: center;    
    justify-content: center;
    text-decoration: none;

    background: transparent linear-gradient(270deg, #CE27A1 0%, #FF78CB 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 11px 48px #22286473;
    border-radius: 6px;
    opacity: 1;

    letter-spacing: 1px;
    color: #FFFFFF;
}

.botao-action:hover{
    background: rgb(206,39,161);
    background: linear-gradient(266deg, rgba(206,39,161,1) 0%, rgba(255,120,203,1) 100%);
    color: #FFF;
    font-family: 'Roboto', sans-serif; 
    font-size: 130%;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000); 
    opacity: 1;
    box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
}


.solucoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #32363f;
}
.solucoes > h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0px;
    color: #EFE6FF;
    opacity: 1;
    margin: 15px;
    padding: 5% 0% 9%;
    /* Para fazer a linha em degradê */
    --color: rgba(255,120,203,1);
    --position: center bottom;
    --width: 140px;
    --height: 2px;
    background: linear-gradient(266deg, rgba(206,39,161,1), var(--color)) var(--position) / var(--width) var(--height) no-repeat;
    padding-bottom: 10px; 
}

.logo-empresas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5% 12% 5%;
}

.perguntas-frequentes{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2% 0% 2%;

    
    opacity: 1;
    text-align: center;
    background-color: #32363f;
}

.perguntas-frequentes > h1{
    font-size: 45px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding-bottom: 5px;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;  

        /* Para fazer a linha em degradê */
        --color: rgba(255,120,203,1);
        --position: center bottom;
        --width: 80%;
        --height: 2px;
        background: linear-gradient(266deg, rgba(206,39,161,1), var(--color)) var(--position) / var(--width) var(--height) no-repeat;
        padding-bottom: 10px; 
}

.perguntas-box{
    
    background-color: #32363f;
    padding: 0% 0% 5%;
    display: flex;
    display: -webkit-flex; /* Garante compatibilidade com navegador Safari. */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.perguntas{
    width: 40%;
    padding-left: 3%;
    padding-top: 5%;
}

.perguntas-frequentes > p{
    text-align: center;
    width: 35%;
    color: #999A9B;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;  
    font-size: calc(2px + 1vw);
    padding-top: 2%;
    line-height: 200%;
    
}



.perguntas > h2{
    color: #A5A7F5;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;  
    padding-bottom: 2%;
    font-size: calc(10px + 1vw);
}

.perguntas > p{
    color: #b5b5b5;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;  
    width: 90%;
    font-size: (5px + 1vw);
    line-height: 150%;
}
