
/* CRIA A BORDA DO CARTÃO E ALINHA ELEMENTOS */

.app-dife_01{
    display: flex;
    display: -webkit-flex; /* Garante compatibilidade com navegador Safari. */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(90% / 3);
    margin: 0% 1%;
    background-color: #2b2e36;
    border-radius: 15px;
    -webkit-box-shadow: 5px 3px 16px -7px #20232A; 
    box-shadow: 5px 3px 16px -7px #20232A;
    margin-bottom: 3%;
    padding: 1%;
}
/* DEIXA O AVATAR MENOR E ALINHA NO CARTÃO */
.app-div-01{
    width: 24%;
    margin-left: 5%;
}

@media screen and (max-width: 959px)  {
    .app-dife_01{
        width: calc(90% / 2);  
    }
    
}


@media screen and (max-width: 559px)  {
    .app-dife_01{
        width: 100%;  
    }
    
}