.home{
    position: flex;
    width: 100%;
}

.texto5{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #b4bdff;
    background: linear-gradient(266deg, rgba(206,39,161,1), var(--color)) var(--position) / var(--width) var(--height) no-repeat;
    margin-bottom: 2%;

    --color: rgba(255,120,203,1);
    --position: center bottom;
    --width: 180px;
    --height: 2px;
    background: linear-gradient(266deg, rgba(206,39,161,1), var(--color)) var(--position) / var(--width) var(--height) no-repeat;
    padding-bottom: 10px;
}


.onda{
    position: relative;
    width: 100%;
    height: 20px;
}

.onda-imagem{
    display: flex;
    height: 100vh;
    background-image: url("../../images/wave.png");
    background-repeat: no-repeat;
    z-index: 10;
}

.app-coluna{  
    flex-direction: column;
    height: 100%;
    padding-top: 5%;
    z-index: 1;
  }

  .app-coluna2{  
 
        background-color: #32363f;
        z-index: -3;
      }

  .app-pesquisa{
        position: relative;
        margin-top: -26%;
        display: flex;
        flex-direction:row;
        z-index: 10;
        width: 100%;
        
    }

    .app-diferenciais{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: center;
        margin-top: 44%;
        height: 20%;
        z-index: 200!important;
        
    }
    
    .app-diferenciais2{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: center;
        margin-top: 2%;
        height: 20%;
    }

    .app-diferenciais3{
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
        margin-top: 5%;
        height: 20%;
        margin-top: 44%;
    }
    


    @media (max-width:1800px){

        .linha_divisao > img{
            top: 60%;
        }
    }
    
    
    
    @media (max-width:1500px){
        .container-divisao > h3{
         font-size:28px;
         margin-top: 3%;
        }
        .linha_divisao > img{
            top: 55%;
        }
    }
    
    
    
    @media (max-width:1260px){
        .banner_principal > h1{
            font-size: 36px;
        }
        .banner_principal > h2{
            font-size: 20px;
        }
        .container-divisao > h3{
            margin-top: 8%;
        }
        .botao_banner{
            font-size: 22px;
            margin-bottom: 5%;
            
        }
    }
    
    
    @media (max-width:1130px){
    
        .container-divisao > h3{
            font-size:24px;
            margin-top: 15%;
        }
    }
    
    @media (max-width:769px){
        .appdife_01{
         width:100%;
        }
    
        .container-divisao > h3{
            font-size:20px;
            
           }
           .linha_divisao > img{
               top: 27%;
           }
    }


.app-div-02{
    width: 50%;
    padding-left: 0%;
}

.app-div-03{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 4%;

}

.app-icone{
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 50%;
}

.app-botao-div2 {
	background-color:#45edbc;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#4d4e51;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
	font-size:12px;
    text-align: center;
	padding: 8% 8%;
	text-decoration:none;
}
.app-botao-div2:hover {
	background-color:#5e185e;
    border:1px solid #c04f95;
    color: white;
    transition: 0.5s;

}
.app-botao-div2:active {
	position:relative;
	top:1px;
}

.app-nome {
	color:#FFF;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
	font-size:15px;
    margin-bottom: 2%;
}

.app-moeda {
	color:#619b55;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
	font-size:15px;
    margin-bottom: 2%;
}

.app-lugar {
	color:#FFF;
    font-family: 'Roboto', sans-serif; 
	font-size:13px;
    margin-bottom: 2%;
}

.app-data {
	color:#FFF;
    font-family: 'Roboto', sans-serif; 
	font-size:13px;
    margin-bottom: 2%;
}

.app-oferta {
	color:#619b55;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
	font-size:15px;
    margin-bottom: 2%;
}



.fim-pesquisa {

	color:#dd72b4;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
	font-size:16px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    text-transform: uppercase;
    width: 100%;
}