* {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0 auto;
  }

  
  body {
    background-color: #32363f;
  }
  
  .oferta_oferta {
    width: 33%;
    height: 70%;
    position: absolute;
    top: 20%;
    left: 33%;
    opacity: 1;
    box-shadow: 0px 3px 21px -5px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    align-items: center;
  }

  .estilo_formulario{

    height: 90%;
    margin: 4%;
  }

  .oferta_oferta > form {
    display: flex;
    flex-direction:column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    opacity: 0.7;
    color: #ff78cb;
  }

  .estilo_formulario_titulo{
    font-size: 18px;
    opacity: 0.7;
    color: #ff78cb;
    align-items: left;
    width: 30%;
    margin-right: 60%;
    border-bottom: 1px solid #ff78cb;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    opacity: 0.7;
    padding-bottom: 7px;


  }

  .estilo_formulario_moeda{
    display: flex;
    align-items: center;
    background-color: #FFF;
    max-width: 70%;
    margin-top: 5%;
    margin-right: 20%;
    height: 50px;
    border-radius: 10px;  
    position: relative;
    width: 100%;
  }

.estilo_formulario_check{
  padding: 5% 0%;

}

.estilo_formulario_check > h7{
  margin-left: 20%;
  position: relative;
  font-size: 22px;
  opacity: 0.7;
  color: #ff78cb;
}

  .estilo_formulario_botao{

      position: relative;

      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      width: 200px;
      height: 50px;
      border-radius: 20px;
      box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 75%);
      background: rgb(25, 160, 25);
      font-size: 16px;
      justify-content: center;
      text-decoration: none;
      font-weight: bold;
      color: #fff;
      transition: background 0.5s, color 1s;
  }