* {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #2B2E36;
    opacity: 1;
    box-shadow: 0px 3px 21px -5px rgba(0,0,0,0.75);
    z-index: 1;
}

header > img {
    width: 60px;
    margin-left: 50px;
}

header > button {
    background: none;
    cursor: pointer;
}

header > .top {
	position: absolute;
	right: 30px;
    
}
header > .top a.menu_icon i {
	color: #000;
	font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
}
header > .top a.menu_icon:hover i {
	color: #fff;
}
nav.menu {
	width: 120px;
	height: 240px;
	background-color: #2B2E36;
    opacity: 1;
    box-shadow: 0px 3px 21px -5px rgba(0,0,0,0.75);
	position: absolute;
	right: 0px;
	transition: .3s all;
    z-index: 1;
    border-radius: 5px;
}
nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: #FF78CB;
    font-weight: bold;
    text-decoration: none;
}

.menu_show {
	right: 0!important;
}





.navbar {
    display: none;
    font-size: 25px;
}

.navbar > a {
    font-size: 1.5rem;
    margin: 0 20px 0 0;  
}

.city-input {
    width: 240px; 
    border-radius: 24px; 
    border: 1px solid #FF78CB; 
    padding: 5px 8px;
    text-align: center;
    position: absolute;
    right: 1370px;
    top: 12px;
}


body {
    background-color: #32363F;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    opacity: 0.7;
    border-bottom: 1px solid #FF78CB;
    align-items: center;
    text-align:left;
    padding-bottom: 7px;
    align-content: center;
    margin-top: 100px;
    width: 200px;
    color: #FF78CB;
    position: absolute;
    left: 300px;
    top: -30px;
}

.filtro {
    display: flex;
    position: absolute;
    left: 15px;
    top: 100px;
    width: 250px;
    height: 400px;
    background-color: #2B2E36;
    opacity: 1;
    box-shadow: 0px 3px 21px -5px rgba(0,0,0,0.75);
    z-index: 1;
    border-radius: 5px;
}

#pesquisa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    position: absolute;
    top: 130px;
    left: 23px;
}

.styled-input {
    width: 200px; 
    border-radius: 24px; 
    border: 1px solid #FF78CB; 
    padding: 5px 8px;
    text-align: center;
}

#botoes-filtro {
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    position: absolute;
    left: 35px;
    top: 200px;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: 10px;
    width: 65.7px;
    height: 38px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    font-weight: bold;
  }

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
    text-align: center;
}

.radio-inline {
    position: relative;
    top: 70px;
    left: 0px;
    margin: 10px;
    color: #FF78CB;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#pergunta-intencao {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #FF78CB;
    padding-bottom: 10px;
    color: #FF78CB;
    position: absolute;
    left: 60px;
    opacity: 0.7;
}

.melhores-ofertas {
    box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.75);
    background-color: #2B2E36;
    width: 570px;
    height: 300px;
    position: absolute;
    left: 300px;
    top: 150px;
}

.melhores-ofertas > h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid #FF78CB;
    align-items: center;
    text-align:left;
    padding-bottom: 7px;
    align-content: center;
    margin-top: 100px;
    width: 200px;
    color: #FF78CB;
    position: relative;
    bottom: 90px;
    left: 10px;
}

.oferta {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    position: absolute;
    left: 30px;
    bottom: 15px;
}

.botao-oferta {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 250px;
    height: 70px;
    border-radius: 5px;
    background: #d3dbd3;
    box-shadow: 0px 5px 0px #676867;
    margin: 5px;
    font-size: 15px;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: background 0.5s, color 1s;
}

.botao-oferta:hover {
    color: #fff;
    background: #676867;
}

.cambio {
    box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.75);
    background-color: #2B2E36;
    width: 840px;
    height: 660px;
    position: absolute;
    left: 950px;
    top: 150px;
}

.cambio > h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid #FF78CB;
    align-items: center;
    text-align:left;
    padding-bottom: 7px;
    align-content: center;
    margin-top: 100px;
    width: 200px;
    color: #FF78CB;
    position: relative;
    bottom: 90px;
    left: 10px;
}

.casas-cambio {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    position: absolute;
    left: 30px;
    top: 45px;
}

.botao-cambio {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 250px;
    height: 140px;
    border-radius: 5px;
    background: #d3dbd3;
    box-shadow: 0px 5px 0px #676867;
    margin: 5px;
    font-size: 15px;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: background 0.5s, color 1s;
}

.botao-cambio:hover {
    color: #fff;
    background: #676867;
}

.historico {
    box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.75);
    background-color: #2B2E36;
    width: 570px;
    height: 430px;
    position: absolute;
    left: 300px;
    top: 500px; 
}

.historico > h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid #FF78CB;
    align-items: center;
    text-align:left;
    padding-bottom: 7px;
    align-content: center;
    margin-top: 100px;
    width: 200px;
    color: #FF78CB;
    position: relative;
    bottom: 90px;
    left: 10px;
}

.historico-transacao {
    position: absolute;
    left: 30px;
    top: 45px;
}

.botao-historico {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 520px;
    height: 50px;
    border-radius: 5px;
    background: #d3dbd3;
    box-shadow: 0px 5px 0px #676867;
    margin-top: 10px;
    font-size: 15px;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: background 0.5s, color 1s;
}

.botao-historico:hover {
    color: #fff;
    background: #676867;
}


@media(min-width: 481px) {
    header {
        padding: 20px 10px;
    }

    header > img {
        width: 128px;
    }

    .navbar {
        display: flex;
    }

    .hamburguer-menu {
        display: none;
    }
}

@media(min-width: 650px){
    .navbar {
        display: flex;
    }

    .hamburguer-menu {
        display: none;
    }
}

