.cadastro-botao-submit{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  background: rgb(206,39,161);
  background: linear-gradient(266deg, rgba(206,39,161,1) 0%, rgba(255,120,203,1) 100%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;  
  color: white; 
  align-items: center;
}

.cadastro-botao-submit:hover{
  font-size: 100%;
  transition: 0.2s; 
  opacity: 1;
  box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
}

.input-cadastro:focus { 
  color:#e4ded7;
  font-family: 'Roboto', sans-serif;
  font-weight: 500; 
}

.form2{
  padding-bottom: 20%;
}

.cadastro-radio_elemento_3 {

    color: #A5A7F5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    font-size: 100%;
    display: flex;
    padding-bottom: 8%;

}

.p-cadastro {
  display: flex;
  flex-direction:row;
  padding-bottom: 10%;
}

.p-img-cadastro{
  width: 5%;
  position: absolute;
  padding-top: 1%;
}

.input-cadastro{
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #495057;
  background-color: #2b2e36;
  background-clip: padding-box;
  border-bottom: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding-left: 10%;
}

.voltar-cadastro{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5vh;
  text-decoration: none;
  background-color: #2b2e36;
  border: solid 2px #f96dc5;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;  
  color: #f86dc5;
  margin-top: 5%;
  padding-top: 3%;
}

.voltar-cadastro:hover {
transition: 0.2s; 
opacity: 1;
box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
background: rgb(206,39,161);
background: linear-gradient(266deg, rgba(206,39,161,1) 0%, rgba(255,120,203,1) 100%);
}

.pagina-cadastro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100%; 
  background-image: linear-gradient(to right, #d533a7, #be369a, #a8368c, #92367e, #7e3470, #6d356a, #5d3462, #4f3359, #413453, #36334b, #2f3141, #2b2e36);
}

.card-cadastro{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #2b2e36;
  border-radius: 3%;
  padding: 4% 3% 2% 3%;
  margin-top: 25%;
  margin-bottom: 3%;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.38);
}

.logo-cadastro {
  margin-bottom: 15%;
}

.input-cadastro-text{
  margin-left: 2%;
}